<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제풀이 - OX</title>
    <link rel="stylesheet" href="{% static 'blank.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    {% include 'quiz_header2.html' %}
    <audio id="myAudio" src="{% static random_sound %}" preload="auto"></audio>

    <button id="playSoundButton">Play Sound</button>
    <div class="life">
        <img id="lp1" src="{% static 'images/lp.png' %}" alt="lp">
        <img id="lp2" src="{% static 'images/lp.png' %}" alt="lp">
        <img id="lp3" src="{% static 'images/lp.png' %}" alt="lp">
    </div>
    <main>
        <div class="wrap-container" id="wrap-container">
            <div class="distance">
                <form class="character" id="answer-form" method="post">
                    {% csrf_token %}
                    <img class="magic" src="{% static 'images/magic.gif' %}" alt="" style="display:none;">
                    <img class="mychar" src="{{ character_img }}" alt="char" />
                    <div class="answer_form">
                        <input type="text" class="answer" id="answer" placeholder="입력" />
                        <button class="next-btn" type="button" onclick="checkAnswer()">Enter</button>
                    </div>
                </form>
                <div class="enemy">
                    <div class="question-container">
                        <div class="question">
                            Q{{ num }}. {{ question.question_text }}
                        </div>
                    </div>
                    <img class="enemy_magic" src="{% static 'images/magic.gif' %}" alt="" style="display:none;">
                    <img class="ccc" src="{% static 'images/enemy1.png' %}" alt="char" />
                    <div class="hp-bar-container">
                        <div id="hp-bar" class="hp-bar" style="width: {{ hp_percentage }}%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrong-container" id="wrong-container" style="display:none;">
            <div class="answer-bubble">
                <p class="ans">답: {{ question.correct_answer }}</p>
                <p>
                    {{ question.explanation }}
                </p>
            </div>
            <div class="next-button-container">
                <button class="next" id="next-btn" onclick="nextQuestion()">{% if num == 5 %}Finish{% else %}다음문제{% endif %}</button>
            </div>
        </div>
    </main>

    <script>
        const characters = "{{ characters }}";
        const subjects_id = "{{ subjects_id }}";
        const chapter = "{{ chapter }}";
        const num = {{ num }};
        let isPlaying = false;

        function checkAnswer() {
            const userAnswer = document.getElementById('answer').value.trim();
            if (userAnswer === '') {
                alert('답을 입력해주세요.');
                return;
            }
            const formData = new FormData();
            formData.append('answer', userAnswer);
            fetch(`/educations/blank/${characters}/${subjects_id}/${chapter}/${num}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'complete') {
                    document.querySelector('.enemy_magic').style.display = 'block';
                    document.querySelector('.enemy_char').classList.add('wrong');

                    setTimeout(function() {
                        alert(data.message);
                        window.location.href = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                    }, 1000);
                } else if (data.status === 'wrong') {
                    alert(data.message);
                    document.querySelector('.magic').style.display = 'block';
                    document.querySelector('.mychar').classList.add('wrong');
                    setTimeout(function() {
                        document.querySelector('.wrap-container').style.display = 'none';
                        document.querySelector('.question-container').style.display = 'none';
                        document.getElementById('wrong-container').style.display = 'block';
                    }, 1000);
                } else {
                    alert(data.message);
                    document.querySelector('.enemy_magic').style.display = 'block';
                    document.querySelector('.enemy_char').classList.add('wrong');
                    setTimeout(function() {
                        window.location.href = `/educations/blank/${characters}/${subjects_id}/${chapter}/${num + 1}`;
                    }, 1000);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function nextQuestion() {
            const nextUrl = num >= 5
                ? "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}"
                : `/educations/blank/${characters}/${subjects_id}/${chapter}/${num + 1}`;
            window.location.href = nextUrl;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const wrongcount = "{{ wrong_count }}";

            if (wrongcount == 1) {
                document.getElementById('lp1').style.display = 'none';
            } else if (wrongcount == 2) {
                document.getElementById('lp1').style.display = 'none';
                document.getElementById('lp2').style.display = 'none';
            } else if (wrongcount == 3) {
                document.getElementById('lp3').style.display = 'none';
                document.getElementById('lp1').style.display = 'none';
                document.getElementById('lp2').style.display = 'none';
                alert("클리어 실패!! 난이도 선택 화면으로 돌아갑니다");
                var levelChoiceUrl = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                window.location.href = levelChoiceUrl;
            }

            const playSoundButton = document.getElementById('playSoundButton');
            const audio = document.getElementById('myAudio');
            audio.volume = 0.08;
            audio.loop = true;

            // 페이지 num이 1일 때 localStorage 초기화
            if (num === 1) {
                localStorage.removeItem('isPlaying');
                localStorage.removeItem('currentTime');
                isPlaying = false;
                audio.currentTime = 0;
            } else {
                // localStorage에서 재생 상태와 현재 시간을 복원
                if (localStorage.getItem('isPlaying') === 'true') {
                    audio.currentTime = parseFloat(localStorage.getItem('currentTime')) || 0;
                    audio.play();
                    playSoundButton.textContent = 'Pause Sound';
                    isPlaying = true;
                }
            }

            playSoundButton.addEventListener('click', () => {
                if (isPlaying) {
                    audio.pause();
                    playSoundButton.textContent = 'Play Sound';
                } else {
                    audio.play();
                    playSoundButton.textContent = 'Pause Sound';
                }
                isPlaying = !isPlaying;
                localStorage.setItem('isPlaying', isPlaying);
            });

            // 재생 중일 때 매초 현재 시간을 localStorage에 저장
            setInterval(() => {
                if (isPlaying) {
                    localStorage.setItem('currentTime', audio.currentTime);
                }
            }, 1000);
        });

        /*window.onload = function() {


            function redirectToLevelChoice() {
                var levelChoiceUrl = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                window.location.href = levelChoiceUrl;
            }
        
            var currentUrl = window.location.href;
            var levelChoiceUrlPattern = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
        
            if (currentUrl !== levelChoiceUrlPattern) {
                history.pushState(null, null, levelChoiceUrlPattern);
            }
        
            window.addEventListener('popstate', function() {
                if (window.location.href !== levelChoiceUrlPattern) {
                    location.replace(levelChoiceUrlPattern);
                }
            });
        };*/
    </script>
</body>
</html>
