<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>chapter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'chapter.css' %}" />
  </head>

  <body>
    <div class="main-container">
      <div class="header">
         
        <div class="category"># {{ chapter.0.subjects }}</div>
        <button class="quit-btn" onclick="handleButtonClick()">나가기</button>
      </div>
      
      <div class="chapters">
        {% for item in chapter %}
        {% for part in item.chapters_list %}
            <a class="chap{{ item.id }}" href="{% url 'educations:level_choice' characters=1 subjects_id=item.id chapter=forloop.counter %}">
                {{ part }}
            </a><br>
        {% endfor %}
      {% endfor %}
      </div>
      
    </div>
</body>
</html>