<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문제풀이 - OX</title>
    <link rel="stylesheet" href="{% static 'chapter_summary.css' %}" />
  </head>

  <body>
    {% include 'quiz_header2.html' %}
    <main>
     
      <div class="wrap-container">
        <div class="question-container">
            <h1>Chapter 1. 금융의 이해</h1>
        </div>
        <div class="summary-container">
            <h1>Q3. 예금은 누구나 다 가입할 수 있다.</h1><br>
            <div class="summary-bubble">
              <p>
                예금은 돈을 한 번에 납입하는 방식의 저축이야.
                돈을 보관하는 기간과 방식에 따라 크게 ‘보통예금’과 ‘정기예금’으로 나눌 수 있어.
                예금은 돈을 한 번에 납입하는 방식의 저축이야.
                돈을 보관하는 기간과 방식에 따라 크게 ‘보통예금’과 ‘정기예금’으로 나눌 수 있어.
                예금은 돈을 한 번에 납입하는 방식의 저축이야.
                돈을 보관하는 기간과 방식에 따라 크게 ‘보통예금’과 ‘정기예금’으로 나눌 수 있어.
                예금은 돈을 한 번에 납입하는 방식의 저축이야.
                돈을 보관하는 기간과 방식에 따라 크게 ‘보통예금’과 ‘정기예금’으로 나눌 수 있어.
              </p>
            </div>
          </div>
        <div class="speech-bubble">
            <p>
              요약과 함께 복습해볼까?
            </p>
          </div>
          <div class="character">
            <img src="{% static 'images/char1.png' %}" alt="char" />
          </div>
     
      
      </div>
      
      
    </main>
    <div class="next-btn"> 
        <a href="#">애니메이션 
      
          <div class="tri-btn"></a>
          </div>
    
      </div>
</html>
