<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학습 하기</title>
    <link rel="stylesheet" href="{% static 'level_choice.css' %}" />
  </head>
  {% include 'header.html' %}
  <body>
    
    <main>
      <h1>학습 난이도를 선택 해주세요!</h1>
      <div class="wrap-container">
        <span class="btn-cho">
            <button class="next-btn {% if chapter_sub is None or chapter_sub == 1 or chapter_sub == 2 or chapter_sub == 3 %}active{% endif %}">
                <p>초급</p>
                <div><img src="{% static 'images/unlock.png' %}" alt="초급"></div>
                
            </button>
        </span>
        <span class="btn-jung">
            <button class="next-btn {% if chapter_sub is 2 or chapter_sub == 3 %}active{% endif %}">
                <p>중급</p>
                <div><img src="{% static 'images/unlock.png' %}" alt="중급"></div>
            </button>
        </span>
        <span class="btn-go">
            <button class="next-btn {% if chapter_sub is 3 %}active{% endif %}"  onclick = "location.href = '{% url 'educations:blank' characters=1 subject=subject chapter=chapter num=1 %}'">
                <p>고급</p>
                <div><img src="{% static 'images/unlock.png' %}" alt="고급"></div>
                
            </button>
        </span>
      </div>
    </main>
  </body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const buttons = document.querySelectorAll('.next-btn');
    
        buttons.forEach(button => {
            const img = button.querySelector('img');
    
            if (button.classList.contains('active')) {
                button.disabled = false;
                img.src = "{% static 'images/unlock.png' %}";
            } else {
                button.disabled = true;
                img.src = "{% static 'images/lock.png' %}";
            }
           
        });
        updateImage();
    });
    
</script>