<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문제풀이 - OX</title>
    <link rel="stylesheet" href="{% static 'multiple.css' %}" />
    <link rel="stylesheet" href="{% static 'wrong_explanation.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    {% include 'quiz_header2.html' %}
    <audio id="myAudio" src="{% static random_sound %}" preload="auto"></audio>

    <!-- 버튼을 클릭하여 소리를 재생/일시정지 -->
    <div class="life">
        <img id="lp1" src="{% static 'images/lp.png' %}" alt="lp">
        <img id="lp2" src="{% static 'images/lp.png' %}" alt="lp">
        <img id="lp3" src="{% static 'images/lp.png' %}" alt="lp">
        <button id="playSoundButton">Play Sound</button>
    </div>
    <div class="question-container">
        Q{{ num }}. {{ question.question_text }}
    </div>
    <main>
        <img class="magic" src="{% static 'images/magic.gif' %}" alt="" style="display:none;" >
            <img class="mychar" src="{{ character_img }}" alt="char" />
        <div class="wrap-container">
            
            <div class="answer-container">
                <form id="answer-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="answer" name="answer" value="">
                    <button class="option-btn" type="button" id="option1" onclick="selectOption(this)" name="answer" value="1">1. {{ question.option_a }}</button>
                    <button class="option-btn" type="button" id="option2" onclick="selectOption(this)" name="answer" value="2">2. {{ question.option_b }}</button>
                    <button class="option-btn" type="button" id="option3" onclick="selectOption(this)" name="answer" value="3">3. {{ question.option_c }}</button>
                    <button class="option-btn" type="button" id="option4" onclick="selectOption(this)" name="answer" value="4">4. {{ question.option_d }}</button>
                </form>
            </div>
            
        </div>
        <div class="character" onclick="submitAnswer()">
            <img class="enemy_magic" src="{% static 'images/magic.gif' %}" alt="" style="display:none;">
            <img class="enemy_char" src="{% static 'images/enemy1.png' %}" alt="char" />
            <div class="hp-bar-container">
                <div id="hp-bar" class="hp-bar" style="width: {{ hp_percentage }}%;"></div>
            </div>
        </div>
        <div class="wrong-container" id="wrong-container" style="display:none;">
            <div class="answer-bubble">
                <h1>Q{{ num }}. {{ question.question_text }}</h1>
                <p class="ans">답: {{ question.correct_answer }}</p>
                <p>{{ question.explanation }}</p>
            </div>
            <div class="character">
                <img src="{{ character_img }}" alt="char" />
            </div>
            <div class="next-button-container">
                <button class="next" id="next-btn" onclick="nextQuestion()">
                    {% if num == 5 %}Finish{% else %}다음문제{% endif %}
                </button>
            </div>
        </div>
    </main>

    <script>
        let selectedOption = null;
        const characters = "{{ characters }}";
        const subjects_id = "{{ subjects_id }}";
        const chapter = "{{ chapter }}";
        const num = {{ num }};
        let isPlaying = sessionStorage.getItem('isPlaying') === 'true';
        let audioCurrentTime = parseFloat(sessionStorage.getItem('audioCurrentTime')) || 0;
        const audio = document.getElementById('myAudio');

        function selectOption(selectedBtn) {
            const buttons = document.querySelectorAll('.option-btn');
            buttons.forEach(btn => {
                btn.classList.remove('selected');
            });
            selectedBtn.classList.add('selected');
            selectedOption = selectedBtn;
        }

        function submitAnswer() {
            if (!selectedOption) {
                alert('정답을 선택해주세요.');
                return;
            }

            const selectedAnswer = selectedOption.value;

            const formData = new FormData();
            formData.append('answer', selectedAnswer);

            fetch(`/educations/multiple/${characters}/${subjects_id}/${chapter}/${num}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'complete') {
                    document.querySelector('.enemy_magic').style.display = 'block';
                    document.querySelector('.enemy_char').classList.add('wrong');
                    
                    setTimeout(function () {
                        alert(data.message);
                        window.location.href = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                    }, 1000);
                } else if (data.status === 'wrong') {
                    alert(data.message);
                    document.querySelector('.magic').style.display = 'block';
                    document.querySelector('.mychar').classList.add('wrong');
                    setTimeout(function () {
                        document.querySelector('.wrap-container').style.display = 'none';
                        document.querySelector('.question-container').style.display = 'none';
                        document.getElementById('wrong-container').style.display = 'block';
                    }, 1000);
                } else {
                    alert(data.message);
                    document.querySelector('.enemy_magic').style.display = 'block';
                    document.querySelector('.enemy_char').classList.add('wrong');
                    setTimeout(function () {
                        window.location.href = `/educations/multiple/${characters}/${subjects_id}/${chapter}/${num + 1}`;
                    }, 1000);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function nextQuestion() {
            const nextUrl = num >= 8 
                ? "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}" 
                : `/educations/multiple/${characters}/${subjects_id}/${chapter}/${num + 1}`;
            window.location.href = nextUrl;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const wrongcount = "{{ wrong_count }}";

            if (wrongcount == 1) {
                document.getElementById('lp1').style.display = 'none';
            } else if (wrongcount == 2) {
                document.getElementById('lp1').style.display = 'none';
                document.getElementById('lp2').style.display = 'none';
            } else if (wrongcount == 3) {
                document.getElementById('lp3').style.display = 'none';
                document.getElementById('lp1').style.display = 'none';
                document.getElementById('lp2').style.display = 'none';
                alert("클리어 실패!! 난이도 선택 화면으로 돌아갑니다");
                var levelChoiceUrl = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                window.location.href = levelChoiceUrl;
            }

            // 소리 재생/일시정지 버튼 클릭 이벤트 추가
            const playSoundButton = document.getElementById('playSoundButton');
            audio.volume = 0.08;
            audio.loop = true;

            // 페이지 로드 시 상태 복원 또는 초기화
            if (num === 1) {
                sessionStorage.removeItem('isPlaying');
                sessionStorage.removeItem('audioCurrentTime');
                isPlaying = false;
                audioCurrentTime = 0;
            } else {
                audio.currentTime = audioCurrentTime;
                if (isPlaying) {
                    audio.play();
                    playSoundButton.textContent = 'Pause Sound';
                } else {
                    playSoundButton.textContent = 'Play Sound';
                }
            }

            playSoundButton.addEventListener('click', () => {
                if (isPlaying) {
                    audio.pause();
                    playSoundButton.textContent = 'Play Sound';
                } else {
                    audio.play();
                    playSoundButton.textContent = 'Pause Sound';
                }
                isPlaying = !isPlaying;
                sessionStorage.setItem('isPlaying', isPlaying);
            });

            // 현재 시간을 저장하는 인터벌 설정
            setInterval(() => {
                if (isPlaying) {
                    sessionStorage.setItem('audioCurrentTime', audio.currentTime);
                }
            }, 1000);
        });
/*
        window.onload = function() {


            function redirectToLevelChoice() {
                var levelChoiceUrl = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
                window.location.href = levelChoiceUrl;
            }
        
            var currentUrl = window.location.href;
            var levelChoiceUrlPattern = "{% url 'educations:level_choice' characters=characters subjects_id=subjects_id chapter=chapter %}";
        
            if (currentUrl !== levelChoiceUrlPattern) {
                history.pushState(null, null, levelChoiceUrlPattern);
            }
        
            window.addEventListener('popstate', function() {
                if (window.location.href !== levelChoiceUrlPattern) {
                    location.replace(levelChoiceUrlPattern);
                }
            });
        }; */
    </script>
</body>
</html>
