<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'previous_quiz_answer.css' %}" />
    <title>이전 문제 해설</title>
</head>
<body>
    <div class="container">
        <div class="white_box">
            <span class="title_answer">답</span><br><br>
            <span class="list1">1. 예금은 금이다.</span><br>
            <div class="line1"></div>
            <span class="list2">2. 누구나 다 가입할 수 있다.</span><br>
            <div class="line2"></div>
            <span class="list3">3. 다양한 종류가 있다.</span><br>
            <div class="line3"></div>
            <span class="list4">4. 적금의 친구이다.</span><br>
            <div class="line4"></div><br><br>
            <span class="title_exp">해설</span><br><br>
            <span class="exp_str">
                예금은 돈을 한 번에 납입하는 방식의 저축이야.
                돈을 보관하는 기간과 방식에 따라 크게 ‘보통예금’과 ‘정기예금’으로 나눌 수 있어.
                또한 예금은 은행에서 누구나 다 가입할 수 있으며, 비슷한 저축 방식으로 적금이 있어!
            </span>
        </div>
    </div>
</body>
</html>
