<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문제풀이 - OX</title>
    <link rel="stylesheet" href="{% static 'css/blank.css' %}" />
  </head>

  <body>
    {% include 'quiz_header2.html' %}
    <main>
      <div class="wrap-container">
        <div class="question-container">
          <h1>
            Q2. 정해진 금액을 일정 기간 맡겼다 다시 찾아가는 방식을 [ ] 이라고
            한다.
          </h1>
        </div>
        <div class="character">
          <img src="{% static 'images/char1.png' %}" alt="char" />
        </div>
        <div class="answer_form">
          <input type="text" class="answer" placeholder="입력"/>
            <button class="next-btn">Enter</button>

        </div>
      </div>
    </main>
    <aside class="sidebar">
      <div class="top-num"><p class="progress-num">2/5</p></div>

      <div class="progress">
        <span class="progress-step active"></span>
        <span class="progress-step active"></span>
        <span class="progress-step"></span>
        <span class="progress-step"></span>
        <span class="progress-step"></span>
      </div>
    </aside>
  </body>
</html>
