<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="side-header">
            <a class="logo" href="#"></a>
            <a class="logout-btn">로그아웃</a>
        </div>
        <div class="user-setting">
            <a class="my-page-btn" href="/mypage">마이페이지</a>
            <a class="edit-character-btn" href="/users/char_create">캐릭터 수정</a>
        </div>
        <div class="user-info">
            <span class="character"></span>
            <span id="nickname">{{user.nickname}}</span>
            <span id="username" class="username">{{user.player_name}}</span>
            <span class="info-divider1"></span>
            <span id="school" class="school">{{user.school}}</span>
            <span class="info-divider2"></span>
        </div>
        <div class="level-info">
            <div id="level" class="level">LV. {{ user.level }}</div>
            <div class="progress-container">
                <div class="progress"></div>
                <div class="progress-circle">
                    <div class="half-circle left" id="left-half"></div>
                    <div class="half-circle right" id="right-half"></div>
                    <div class="circle-all" id="circle-all"></div>
                </div>
                <div class="inner-circle"></div>
                <div class="progress-text" id="progress-text">{{user.percent}}%</div>
            </div>
            <div class="progress-pts"> {{ user.total }} / {{ user.present }} pts</div>
        </div>
    </div>
    <div class="main-content">
        <div class="content-header">
            <select class="dropdown" id="subject_dropdown">
                {% for subject in user.subjects %}
                    <option {% if forloop.counter0 == user.subjects_id %}selected{% endif %}>{{subject}}</option>
                {% endfor %}
            </select>

            <a class="learning-btn" href="/chapter">학습하기</a>
            <a class="scenario-btn" href="/scenarios/scenario_list">시나리오</a>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="current-problem">
                    <h1 class="status">진행중인 문제</h1>
                    <h3 class="chapter">Chapter {{user.chapter}}. 은행</h3>
                    <h3 class="difficulty">문제 유형 : {{user.kind}}</h3>
                    <button class="move-problem-btn" onclick="handleButtonClick()">이동</button>
                </div>
                <div class="current-scenario">
                    <h1 class="current-scenario-text">진행중인 시나리오</h1>
                    {% for scenario in user.scenario_list %}
                        <a class="scenario-title" href="/scenarios/scenario_list">{{scenario.title}}</a>
                    {% endfor %}
                </div>
                <div class="points">
                    <h1 class="points-text">점수</h1>
                    <h3 class="my-pts">{{user.score}} pts</h3>
                </div>
                <div class="ranking">
                    <h1 class="ranking-text">랭킹</h1>
                    <h3 class="rank">{{user.rank}}등<span class="crown"></span></h3>
                    <a class="ranking-view" href="/users/ranking">더보기</a>
                </div>
            </div>
            <div class="row">
                <div class="view-solved">
                    <h1 class="view-solved-text">내가 푼 문제 보기</h1>
                    <a class="chapter-1" href="#" target="_self">OX : Chapter {{user.chapter_tf}}</a>
                    <a class="chapter-2" href="#" target="_self">빈칸 채우기 : Chapter {{user.chapter_blank}}</a>
                    <a class="chapter-3" href="#" target="_self">객관식 : Chapter {{user.chapter_mul}}</a>
                    <button class="chapter-icon" onclick="handleButtonClick()">더보기</button>
                </div>
                <div class="created-scenarios">
                    <h1 class="created-scenario-text">작성한 시나리오</h1>
                    {% for comment in user.comment_list %}
                        <a class="created-scenario" href="#" target="_self">{{comment.texts}}</a>
                    <div></div>
                    {% endfor %}
                </div>
               
                <div class="announcement">
                    <h1 class="announcement-title">공지</h1>
                    {% for notice in user.notice_list %}
                        <a class="announcement-text" href="#" target="_self">{{notice.title}}</a>
                    {% endfor %}
                    <button class="announcement-view" href="/users/notice">더보기</button>
                </div>
            </div>
            <div class="row">
                <div class="advertiser">
                    <button class="ads" href="https://aivle.kt.co.kr/home/main/applyMain?mcd=MC00000051" target="_blank"></button>
                </div>
            </div>
        </div>
    </div>
 
    </div>

<script>
    const percent = "{{ user.percent }}";
    const access_token = "{{user.access_token}}"
    const refresh_token = "{{user.refresh_token}}"

    function setProgress(percent) {
        const leftHalf = document.getElementById('left-half');
        const rightHalf = document.getElementById('right-half');
        const progressText = document.getElementById('progress-text');
        
        const angle = percent * 3.6;

        
        if (percent <= 50) {
            rightHalf.style.transform = `rotate(${angle}deg)`;
            leftHalf.style.transform = `rotate(0deg)`;
            leftHalf.style.backgroundColor = '#fff';
            rightHalf.style.zIndex = 1;
            leftHalf.style.zIndex = 2;

        } else {
            rightHalf.style.transform = `rotate(180deg)`;
            leftHalf.style.transform = `rotate(${angle}deg)`;
        }
        
        progressText.textContent = `${percent}%`;
    }

    // 예시로 40% 진행 상태 설정
    setProgress(parseInt(percent));

    document.addEventListener('DOMContentLoaded', function() {
      const dropdown = document.getElementById('subject_dropdown');
      
      function fetchScores() {
          const selectedIndex = dropdown.selectedIndex;
          const subjectId = selectedIndex + 1; // 인덱스는 0부터 시작하므로 +1 해줍니다.
          const url = `/home/${subjectId}?token_access=` + access_token + "&token_refresh=" + refresh_token;
          window.location.href = url;
      }
  
      dropdown.addEventListener('change', function() {
          fetchScores();
      });
    
    });
    document.addEventListener("DOMContentLoaded", function() {
    var commentTextElements = document.querySelectorAll('.created-scenario');
    var maxLength = 15;  // 원하는 최대 길이

    commentTextElements.forEach(function(element) {
        var originalText = element.textContent;
        if (originalText.length > maxLength) {
            var truncatedText = originalText.substring(0, maxLength) + '...';
            element.textContent = truncatedText;
        }
        });
    });
    document.querySelector('.logout-btn').addEventListener('click', function() {
        fetch('/onboarding/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access_token}`
            },
            body: JSON.stringify({
                'access_token': access_token,
                'refresh_token': refresh_token
            })
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/onboarding';
            } else {
                console.error('Logout failed');
            }
        });
    });
</script>

</body>
</html>
