<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="{% static 'mypage.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap">
  </head>
    {% include 'header.html' %}
  <body>
    
    <div class="main-container">
      <div class="left">
        <div class="user-info">
          <h2 class="title">개인정보 변경</h2>
          <a class="update_info" href="update_info" target="_self">개인정보 변경</a>
          <a class="delete-account" href="{% url 'users:delete_account' %}">회원 탈퇴</a>
        </div>
        <div class="etc">
          <h2 class="title">기타</h2>
          <a class="service-agree" href="{% url 'service_agree' %}" target="_self">정보 활용 동의 설정</a>
        </div>
      </div>
      <div class="info">
        <h2 class="title">이용 안내</h2>
        <a class="ask" href="ask" target="_self">문의하기</a>
        <a class="notice" href="{/users/notice}" target="_self">공지사항</a>
        <a class="community-term" href="{% url 'community_term' %}" target="_self">커뮤니티 규칙</a>
        <a class="service-term" href="{% url 'service_term' %}" target="_self">서비스 이용 약관</a>
        <a class="account-term" href="{% url 'account_term' %}" target="_self">개인정보 처리방침</a>
        <a class="teen-term" href="{% url 'teen_term' %}" target="_self">청소년 보호 정책</a>
      </div>
    </div>
  </body>
</html>