<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예금 설명</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />

<div class="signup-form">
    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fd8C45v%2FbtsIgLyqQyF%2FMKiQudSDdszgKyZPkbdyr0%2Fimg.png">
    <form>
        <input type="text" placeholder="아이디" required>
        <input type="email" placeholder="이메일" required>
        <input type="password" placeholder="비밀번호" required>
        <input type="password" placeholder="비밀번호 확인" required>
        <input type="text" placeholder="학교 이름" required>
        <input type="text" placeholder="닉네임" required>
        <button type="submit">가입하기</button>
    </form>
</div>