<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'char_create.css' %}" />
    <title>캐릭터 생성</title>
</head>
<body>
    <div class="container">
        <span class="title1">캐릭터 선택하기</span>

        <div class="characters">
            <input type="button" class="char1" data-char-id="1">
            <input type="button" class="char2" data-char-id="2">
            <input type="button" class="char3" data-char-id="3">
            <input type="button" class="char4" data-char-id="4">
            <input type="button" class="char5" data-char-id="5">
        </div>

        <div class="buttons-container">
            <button class="create_btn" id="createBtn"><span class="create_str">생성하기</span></button>
            <button class="update_btn" id="updateBtn"><span class="update_str">변경하기</span></button>
        </div>
    </div>
    <script src="{% static 'char_create.js' %}"></script>
</body>
</html>
