<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'check_id.css' %}" />
    <title>아이디 찾기</title>
</head>
<body>
    <div class="container">
        <div class="white_box"></div>
        <span class="title_check_id">찾으시는 아이디는<br> <span class="user_id">{{ player_id }}</span> 입니다.</span>
        <button class="return_btn" onclick="window.location.href='/'"><span class="return_str">돌아가기</span></button>
    </div>
</body>
</html>
