<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'find_account.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="white_box">
        <div class="btn_box">
        <button class="id_btn" onclick="location.href='{% url 'users:find_account_id' %}' ">아이디 찾기</button>
        <button class="pwd_btn" onclick="location.href='{% url 'users:find_account_pwd' %}' ">비밀번호 찾기</button></div>
       </div>
    </div>
</body>
</html>
