<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <link rel="stylesheet" href="{% static 'popup_char_create.css' %}" />
</head>
<body>
    <div class="container">
        <div class="white_box">
            <div class="content">
                <div class="title_answer">캐릭터를 만드시겠습니까?</div>
                <div class="icon"></div>
                <div class="button-container">
                    <button class="yes_btn"><span class="yes_str">예</span></button>
                    <button class="no_btn"><span class="no_str">아니요</span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>