<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'ranking.css' %}" />
{% include "header.html" %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
  <div id="ranking_head_container">
    <select class="dropdown" id="subject_dropdown">
      {% for subject in subjects %}
        <option value="{{ subject.id }}">{{ subject.subjects }}</option>
      {% endfor %}
    </select>
    <div id="title">RANKING</div>
  </div>
  <table>
    <thead>
    <tr>
        <th>등수</th>
        <th>닉네임</th>
        <th>학교</th>
        <th>스코어</th>
    </tr>
    </thead>
    <tbody id="ranking_table_body">
      {% for score in ranked_scores %}
        <tr>
          <td>{{ score.rank }}</td>
          <td>{{ score.nickname }}</td>
          <td>{{ score.school }}</td>
          <td>{{ score.score }}점</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const dropdown = document.getElementById('subject_dropdown');
      
      function fetchScores(subjectId) {
          const url = `/users/api/scores/${subjectId}`;
          
          fetch(url)
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.json();
              })
              .then(data => {
                  const tbody = document.getElementById('ranking_table_body');
                  tbody.innerHTML = '';
                  data.forEach(score => {
                      const row = document.createElement('tr');
                      row.innerHTML = `
                          <td>${score.rank}</td>
                          <td>${score.nickname}</td>
                          <td>${score.school}</td>
                          <td>${score.score}점</td>
                      `;
                      tbody.appendChild(row);
                  });
              })
              .catch(error => console.error('Error fetching data:', error));
      }
  
      dropdown.addEventListener('change', function() {
          const subjectId = this.value;
          fetchScores(subjectId);
      });
      
      // 페이지 로드시 첫 번째 과목의 ID로 데이터 로드
      const firstSubjectId = dropdown.value;
      fetchScores(firstSubjectId);
  });
  </script>
</body>