<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예금 설명</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
</head>
<body>
    <div class="signup-form">
        <div style="text-align : center;">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fd8C45v%2FbtsIgLyqQyF%2FMKiQudSDdszgKyZPkbdyr0%2Fimg.png">
        </div>
        <h2>회원가입이 완료되었습니다.</h2>
        <form action="{% url 'home' %}" method="GET">
            <button type="submit">다른 페이지로 이동</button>
        </form>
    </div>
</body>
</html>