<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시나리오</title>
    <link rel="stylesheet" href="{% static 'previous_scenario.css' %}" />
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <div class="scenario_container">
            <span class="title">시나리오</span><br>
            {% for item in scenario %}
                <span class="contents">{{ item.question_text }}</span>
            {% endfor %}
        </div>
        <div class="ai_comment_box">
            <span class="ai_comment_title">AI 답변</span>
        </div>
        <div class="comment_box_head">
            <span class="comment_box_head_same"><input type="button" value="유사도순"></span>|
            <span class="comment_box_head_like"><input type="button" value="좋아요순"> </span>
        </div>
        {% for item in comment %}
            <div class="comment_box1">
                <div class="comment_container">
                    <form method="post" class="likeForm">
                        <input type="hidden" name="comment_id" value="{{ item.id }}">
                        <button type="submit" class="likebtn">{{ item.like_cnt }}<img src="{% static 'images/like.png' %}" alt=""></button>
                    </form>
                    <form method="post" action="{% url 'scenarios:delete_comment' item.id %}" class="deleteForm">
                        {% csrf_token %}
                        <input type="hidden" name="scenario_id" value="{{ scenario.0.id }}">
                        <button type="submit" class="delete_button">삭제</button>
                    </form>
                    <span class="comment_box1_nickname">닉네임1</span>
                    <span class="comment_box1_same">유사도: {{ item.percents }}%</span><br>
                    <p>{{ item.texts }}</p>
            
                </div>
                {% for child in childcomment %}
                    {% if child.parent == item.id %}
                        <div class="childcomment_container">
                            <div class="child_comment_box">
                                <form method="post" action="{% url 'scenarios:delete_childcomment' child.id %}" class="deleteForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="scenario_id" value="{{ scenario.0.id }}">
                                    <button type="submit" class="delete_button">삭제</button>
                                </form> 
                                <span class="child_comment_nickname">닉네임2</span>
                                <span class="child_comment_text"><p>{{ child.texts }}</p></span>
                                <hr>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- 대댓글 작성 폼 -->
                <div class="form_container">
                    <div class="child_comment_form">
                        <form method="post" action="{% url 'scenarios:submit_childcomment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="parent_id" value="{{ item.id }}">
                            <input type="hidden" name="scenario_id" value="{{ scenario.0.id }}">
                            <input type="text" name="childcomment_text" class="childcomment_input" placeholder="의견 입력">
                            <button type="submit" class="childcomment_submit_button"></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteForms = document.querySelectorAll('.deleteForm');

        deleteForms.forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const confirmation = confirm('정말 댓글을 삭제하시겠습니까?');

                if (confirmation) {
                    form.submit(); // 확인을 클릭하면 폼을 서브밋하여 삭제 요청을 보냄
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
      const likeForms = document.querySelectorAll('.likeForm');

      likeForms.forEach(form => {
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          const formData = new FormData(form);
          const commentId = formData.get('comment_id');

          fetch('/scenarios/like/', {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              form.querySelector('button').innerHTML = `${data.like_cnt} <img src="{% static 'images/like.png' %}" alt="">`;
            }
          });
        });
      });
    });
  </script>
</html>
